<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 hour"
  ExpiresByType application/javascript "access plus 1 hour"
  ExpiresByType text/javascript "access plus 1 hour"
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "public, max-age=3600"
  </FilesMatch>
</IfModule>
